[2016-06-16 13:04] wertzui opened #1 "Allow build variables for transformations"
I need to transform a connection string based on the build variable Build.SourceBranch.
It would be nice if your tool supported passing in build variables in VSTS, so it is possible to create transformations based on these variables.

[2016-06-16 13:32] sergeyzwezdin commented on #1
@wertzui if you use it as VSTS extension, feel free to use any available variable, for example transofrmation file could be:

[code]

This is what you're asking for?

[2016-06-16 14:56] wertzui commented on #1
Didn't know, it was already working, thanks :)

[2016-06-16 14:56] #1 closed

[2016-06-16 17:39] rrreynolds opened #2 "Cannot see 'Config transformation' task when using TFS 2015 Update 2"
Does the extension support TFS 2015 Update 2?

I do not see the extension listed under the "_Add tasks_" dialog when attempting to adding a build step. I have confirmed that the extension is installed on the server and is installed into the team project collection I'm trying to use it in.

[2016-06-16 18:06] viperguynaz opened #3 "Cannot see 'Config transformation' task when using TFS 2015 Update 3"
With TFS 2015 Update 3 on premise, the extension is displayed as "installed", but does not display in the Add Tasks dialog. It does work in VSTS though.

[2016-06-17 00:21] sergeyzwezdin commented on #3
Duplicate #2

[2016-06-17 00:21] #3 closed

[2016-06-17 00:23] sergeyzwezdin commented on #2
Already reported to Microsoft guys about this issue. Will investigate by myself as well.

[2016-06-18 04:27] sergeyzwezdin opened #4 "WebDeploy provider"
Investigate ability of integration config transformations into webdeploy pipeline.

[2016-06-18 09:02] sergeyzwezdin commented on #2
Good, some results after some invetigations.

I've created fresh VM and installed TFS 2015 there. Next, I tried to install extension into TFS local gallery and installed it for project collection. TFS displayed that it's installed sucessfully, but it didn't appear at "Add build step" dialog.

I took some pause and returned back to continue investigation when noticed the build task appeared at "Add

[2016-06-18 09:02] #2 closed

[2016-06-20 14:17] kp2015 opened #5 "Issue w/ Extension Showing up in on premise add tasks"
Installed the extension fine this morning.  Enabled on one of my collections.  Says successful.  I got into a build and or create new build, go to utility and am not seeing it showing. What are some potential reasons why? and where can i look for any 'error' messages or something
 that could be hindering it from showing. Attached a screenshot .

![image](https://cloud.githubusercontent.com/assets/

[2016-06-20 14:37] sergeyzwezdin commented on #5
Wait some time :-) For some reasons TFS displays it with delay.
I explanined it at #2

[2016-06-20 14:37] #5 closed

[2016-06-20 19:06] rrreynolds commented on #2
@sergeyzwezdin I installed the latest version as of today (1.0.0) and the task showed up immediately after installation. I am running TFS 2015 Update 2

[2016-06-21 00:18] sergeyzwezdin commented on #2
@rrreynolds well, I have no idea how TFS processing it internally. From time to time it displaying immediatelly, and from time to time - not. Same bahavior for other extensions, so I guess it's normal for TFS.

[2016-06-21 15:01] kp2015 commented on #2
So this is still not loading.  I've disabled / reenabled  and have waited since yesterday when I opened issue #5 which was a duplicate of this one.  But still not showing in the list.

any thoughts?

[2016-06-21 15:08] rrreynolds commented on #2
@kp2015 can you verify that you have actually installed the extension into the collection are trying to use it in? I would suggest that you completely remove the extension from the "Manage Extensions" screen (http://buildserver:8080/tfs/_gallery/manage) and then reinstall the latest version. That fixed it for me for this particular extension.

[2016-06-21 16:28] sergeyzwezdin commented on #2
@kp2015 @rrreynolds correct. You have to install into your local TFS gallery first, and then install it for project collection. Did you try this?

[2016-06-22 06:25] Vitus commented on #2
test comment

[2016-06-22 20:49] sanyogitaranade commented on #2
We know this issue and we are actively working to resolve it. It is a cache related problem and hence is intermittent and difficult to track down. So far, we have seen the best solution is to try to uninstall and reinstall the extension as rrreynolds correctly mentioned.

[2016-06-22 22:54] rrreynolds opened #6 "Possible to have recursive search in the config transform source path?"
Would it be possible to add an option to perform a recursive search for the source path? I have not been able to get this to work. I have tried the standard formats such as "**\web.config", etc.
There is another task available in the [marketplace](https://marketplace.visualstudio.com/items?itemName=TotalALM.totalalm-tokenization) which supports this option but I prefer your XML/Xpath searching sin

[2016-06-23 00:27] sergeyzwezdin commented on #6
Yep, at weekends I will take a look how it's implemented and will try to add this feature here as well.

[2016-07-06 05:38] damienpontifex opened #7 "Enable VSTS task to run cross platform"
The VSTS task.json only has an execution profile for Powershell which limits the running of this on Mac/Linux with the cross platform build agent.

It would be great to have a Node system also which uses typescript/javascript as Microsoft do with there powershell tasks when running on nix systems. e.g. the [CopyPublishBuildArtifacts](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/CopyPu

[2016-07-06 07:26] sergeyzwezdin commented on #7
Thank you for your contributing.
That's is pretty interesting, but I didn't plan to use it cross-platform actually :-)
I will check your code once I'll have a time, but it's worth to mention I'm going to go vacation next week and won't have internet connection at that time. So I guess I will check it later.

[2016-07-25 19:58] outofbounder opened #9 "Extension is not available in tasks list"
TFS 2015 update 2 instance.  Extension says it has been installed to the project collection (confirm screen says "Already Installed".  Uninstall/reinstall does not work per previous closed issue...

[2016-07-25 20:00] outofbounder commented on #5
I am seeing this with https://github.com/sergeyzwezdin/magic-chunks/issues/9.  After "some time" the plugin requires being installed to the collection again (it uninstalls itself)

[2016-07-29 18:28] eeinworks8 commented on #9
Same issue on our On-Premise TFS Server.

[2016-07-29 20:54] eeinworks8 commented on #9
So I got it to appear!  It turns out the task.json file has a minimum agent version of 1.95.1.  All of my agents were version 1.95.0.  I changed the task.json file to 1.95.0 and repackaged the vsix file and the task appeared.  I'm not sure if this extension truly needs agent version 1.95.1 or what the difference is between the two, but at least it shows up in the task list now.  Hope this helps.

[2016-08-06 06:41] sergeyzwezdin commented on #9
@eeinworks8 do you use VS Online or TFS on premise?

[2016-08-06 06:44] sergeyzwezdin commented on #5
@outofbounder I beleive it's TFS's issue, not extension's. I'm not sure how extension code could affect this behavior. So I think it's better to ping MS team how things is going

// @sanyogitaranade

[2016-08-06 16:10] eeinworks8 commented on #9
On premise with Update 2

[2016-08-06 17:49] outofbounder commented on #5
Thanks.  Yea I am also on premise with update 2 FYI.

On Sat, Aug 6, 2016, 12:44 AM Sergey Zwezdin <notifications@github.com>
wrote:

[2016-08-08 11:31] Christoffleroux commented on #6
Would realy like to have this feature available , it helps when using MSDeploy packages

[2016-09-07 06:52] LoulG opened #11 "Exception: There is empty items in the path"
When transforming an XML from the sources, the task breaks with the following:

System.Management.Automation.MethodInvocationException: Exception calling "Transform" with "4" argument(s): "There is empty items in the path.
Parameter name: path" ---> System.ArgumentException: There is empty items in the path.
Parameter name: path
at MagicChunks.Documents.XmlDocument.ReplaceKey(String[] path, String

[2016-09-08 00:32] sergeyzwezdin commented on #11
Do you use MagicChunks as VSTS extension?
Could you share XML which breaks transformation process?

[2016-09-08 00:33] sergeyzwezdin commented on #9
@eeinworks8  Does it works correctly after changing to `1.95.0`?

[2016-09-08 16:25] eeinworks8 commented on #9
@sergeyzwezdin Yes it works great!

[2016-09-21 09:52] dachibox opened #12 "The ':' character, hexadecimal value 0x3A, cannot be included in a name"
Hi, I'm using cake an trying to changes the Package.appmanifest file of Universal Windows Platform apps.

It works fine, until I'm trying to change an property that have namespaces **(uap:VisualElements)**
 `Package/Applications/Application/uap:VisualElements/@DisplayName`

the error message is like:
_The ':' character, hexadecimal value 0x3A, cannot be included in a name_

Thank's and greetings!

[2016-10-05 13:31] bibodha opened #13 "MagicChunks does not work when Cake.Json is also being used"
When you have both Cake.Json and MagicChunks as addins, it throws this exception

`Error: Roslyn.Compilers.CompilationErrorException: (2344,29): error CS0433: The type 'Newtonsoft.Json.Linq.JObject' exists in both 'MagicChunks, Version=1.1.0.34, Culture=neutral, PublicKeyToken=null' and 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'
   at Roslyn.Scripting.Comm

[2016-10-18 17:20] Russweb opened #15 "XML web.config transform not working"
When I try to alter a standard webconfig that looks like this:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
         <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     </configSections>
     <connecti

[2016-10-19 00:19] sergeyzwezdin commented on #15
For transformations you have to use JSON key-value dictionary. Try to use this one:

[code]

Does it help?

[2016-10-27 13:07] dibble-james opened #16 "Ampersands being escaped during XML transformation"
I have the joy of working with some EDMX models that use connection strings that I am looking to transform.  The connection string ends up looking something like:

`<add name="Connection" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server\instance;initial catalog=database;integrated s

[2016-11-04 02:43] Russweb commented on #15
I tried that before, but I must have gotten the syntax wrong in some way.
That worked.
Thank you.

[2016-11-04 03:31] sergeyzwezdin commented on #15
@Russweb 👍

[2016-11-04 03:31] #15 closed

[2016-11-05 14:08] #9 closed

[2016-11-05 15:43] sergeyzwezdin commented on #16
`XElement` escaping values during document update, so you don't need to escape value by yorself.
In your case [try](https://github.com/sergeyzwezdin/magic-chunks/commit/e2a28f46640e01b6241e061b8d3830a6f1d92d90#diff-9c6eb11dca2f416c517f205c905045fdR284) to use:

[code]

instead of

[code]

Also, I've added fix which allows you to have escaped value. Will be shipped with `1.2` later.

[2016-11-05 15:43] #16 closed

[2016-11-05 17:36] sergeyzwezdin commented on #12
Fixed. Will be available in `1.2`.

[2016-11-05 17:36] #12 closed

[2016-11-05 17:39] dachibox commented on #12
great! thanks! :)

[2016-11-05 17:50] sergeyzwezdin commented on #11
Closing issue as still have no response. Feel free to re-open if issue still persists.

[2016-11-05 17:50] #11 closed

[2016-11-05 18:28] sergeyzwezdin commented on #13
Fixed as part of `1.2`.

[2016-11-05 18:28] #13 closed

[2016-11-06 04:00] sergeyzwezdin commented on #6
Fixed and will be available as part of `1.2`.

Now you can point `*.json` as source file for example. Also you you want to recursively search files in directory there is new option `Recursive search`.

[2016-11-06 04:00] #6 closed

[2016-11-06 04:09] sergeyzwezdin commented on #16
Build `1.2` has been shipped.

[2016-11-06 04:09] sergeyzwezdin commented on #13
Build `1.2` has been shipped.

[2016-11-06 04:09] sergeyzwezdin commented on #12
Build `1.2` has been shipped.

[2016-11-06 04:09] sergeyzwezdin commented on #6
Build `1.2` has been shipped.

[2016-11-06 04:14] sergeyzwezdin commented on #15
@Russweb as it's resolved, coult you please update your posting at Reviews section at VSTS marketplace? 😺

[2016-12-30 10:14] Tom-Jans opened #17 "JSON arrays"
Is it possible to replace multiple values in a json array?

Example:
[code]
In this json file i want to replace the connection attribute of all elements in the bindings array.

I tried this
Transformation file:
[code]

Result:
[code]

[2016-12-31 00:52] sergeyzwezdin commented on #17
You're right, there is no option to do this yet. I'll add it in further versions.

[2017-01-13 20:43] DBCI opened #18 "Using magic-chunks with a netcoreapp1.0 project"
Hello,

As I essentially want to transform appsettings.json during the MSBuild phase, I tried adding magic-chunks to my project but the following error message pops up:

Any ideas? Any intent of support netcoreapps ?

Thanks,
DB

[2017-01-14 03:01] sergeyzwezdin commented on #18
Hi,
Correct. Current implementation based on .NET 4.5, .NET Core.
Migration to .NET is planned, but I can't provide exact ETA for the moment.
I'll update here once it happens.

[2017-01-20 12:27] stromblom commented on #11
I'm getting this. Running MC from Cake.

[code]

[code]

[2017-01-21 01:37] sergeyzwezdin commented on #11
@stromblom
Actually, this library does not use XPath. It something like "XPath like syntax"
So, removing `/` in the beginning solves the problem?

[2017-01-21 07:49] stromblom commented on #11
Okay. Yes that worked like a charm.

[2017-01-23 01:15] sergeyzwezdin commented on #11
Nice to hear.

[2017-02-07 18:49] guranto66 opened #19 "Release variables only work with "Inline JSON" transformation type"
Hello,
It seems that release configuration variables in TFS 2015 only get their values replaced with "Inline JSON" transformation type. When using "JSON File", transformations do happen, but the values are not being replaced. The result web.config ends up having records like the one below.

`<add key="Release" value="$(Release.ReleaseName)" />`

Is that something can be fixed?

Thank you,
Anton

P

[2017-02-13 01:00] sergeyzwezdin commented on #19
@guranto66 Could you proivde full text of your source config as well as JSON transofrmations?

[2017-02-13 14:42] guranto66 commented on #19
Sergey,
Please see the files attached. I'm transforming web.config using web.config.json. When I copy json file content into inline field, it all works fine.

Thank you,
Anton

[Web.config.txt](https://github.com/sergeyzwezdin/magic-chunks/files/771351/Web.config.txt)
[Web.config.json.txt](https://github.com/sergeyzwezdin/magic-chunks/files/771350/Web.config.json.txt)

[2017-02-14 00:13] sergeyzwezdin commented on #19
Ok, I'll check.

[2017-03-27 14:03] kharrak commented on #19
@sergeyzwezdin I have the same issue with the transformation, any updates on this?

P.S. Awesome job with this build step :)

[2017-03-28 14:17] lboening opened #20 "Help: how to change an "add" and how to delete"
I have an app.config file. It has many "add" entries in the "appSettings" section.

Using your tool, it is easy to add a key with a particular value.

But how do I target a particular "add", such as the fourth one in the list?

Example:
`
<add key="MaxConcurrentAutoVueControls" value="3" />
`

If I add, I then have two keys, one with the proper setting. The fourth one on the list is still in the a

[2017-04-19 08:56] JeroenHo opened #21 "Specify the correct node"
Hi,

In the Xml I want to modify there are several nodes with the same name and I want to change a child node of one of the nodes.
Example
[code]

The value of the argument node should be modified depending on the type of build. But if I use "info/param/argument", it results in a new argument in the first param node.

Any way to fix this...Maybe with "info/param[2]/argument" to specify the correct

[2017-06-21 16:45] guranto66 commented on #19
Sergey,
Let me know if you have any plans on fixing this.
Much appreciated.

Thank you,
Anton

[2017-06-23 19:55] Noah-Silvera commented on #21
I'm experiencing a similar problem with being unable to target multiple nodes with the same element name in a list

[2017-06-23 22:10] KT324 opened #23 "Issue trying to run XML transformation"
Running an xml transformation on an Appsettings key. Is there a problem including the ' character? I'm using the snippet i found on the github xml section. Getting the following issue below:
[code]

[2017-06-26 07:41] sergeyzwezdin commented on #19
@guranto66 I'm quite busy right now. I'll fix once I'll have a time.

[2017-06-26 14:31] KT324 commented on #23
It looks like this was throwing the error due to the : in the key name. Probably can be resolved by fixing that issue.

[2017-06-26 14:31] #23 closed

[2017-07-07 17:48] maldworth commented on #21
+1

I'd like this feature

[2017-07-25 22:01] adailsonfilho opened #24 "Access to the path '<source_file_to_transform>' is denied"
Hi!

First of all, thank you for making this open source! I'm using it within TFS 2015 (update 4). Just after "get sources" I've tried to transform my web.config and got this:

I thought it was an "IsReadOnly" issue, so I cleared it before using PowerShell and still with this error. Any ideas what should be the problem? Thank you in advance!

[2017-07-26 17:24] adailsonfilho commented on #24
Sorry guys, my bad. My "IsReadOnly Cleaner" script wasn't doing its job correctly.

[2017-08-08 11:22] lewisveale commented on #19
@sergeyzwezdin Thanks! This is a great tool.
I am interested in using variables in JSON transformation files too.

[2017-08-08 16:27] lewisveale opened #25 "TFS Release Integration - Secret Variable Values?"
Is there a way of handling the "secret" variable values when using the TFS Release task?
For instance, we have a number of passwords in our environment variables, which have been made secret to avoid exposing them to prying eyes.
![capture](https://user-images.githubusercontent.com/21249679/29082793-9531a746-7c5e-11e7-94e6-9f312862156b.PNG)
I would like the task to be able to decrypt these and put

[2017-08-11 17:47] rspopovi opened #26 "Unable to update xml tag attributes with a namespace."
My target xml:

\<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.myapp.name.here" android:installLocation="auto" android:versionCode="10000" android:versionName="1">
	\<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="23" />
	\<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	\<uses-permission android:name="android.permission.AC

[2017-09-05 15:56] markjose commented on #20
Maybe a bit late to the party here but you can address individual <add /> nodes by using the key.
`{
  "configuration/appInfo/add[@key='SomeKey']/@value": "SomeValue",
  "configuration/appInfo/add[@key='SomeKey']/@value": "$(SomeBuildOrReleaseVariable)",
}`

[2017-09-13 13:56] anderaus opened #27 "Incompatible with Cake version > v.0.21.1"
Using the latest version of Cake released today ([v.0.22.0](https://github.com/cake-build/cake/releases/tag/v0.22.0)) and referencing MagicChunks in a cake script outputs this error:

`
Error: The assembly 'MagicChunks.Cake, Version=1.2.0.58, Culture=neutral, PublicKeyToken=null'
is referencing an older version of Cake.Core (0.16.2).
This assembly need to reference at least Cake.Core version 0.22.

[2017-09-14 06:32] sergeyzwezdin commented on #27
@anderaus Thank you for letting me know. I plan to update magic-chunks soon.

[2017-09-23 20:50] Lakritzator commented on #27
Can you tell us when the update might be there, I currently have a failing build and I don't know how to solve it with the many dependencies I have. This seems to be the last which needs an update.

[2017-10-04 17:31] anderaus opened #29 "Using deprecated version of YamlDotNet deserializer configurator"
Building the current version gives this deprecation warning:

`'Deserializer.Deserializer(IObjectFactory, INamingConvention, bool, YamlAttributeOverrides)' is obsolete:
'Please use DeserializerBuilder to customize the Deserializer. This constructor will be removed in future releases.'`

[2017-10-15 01:34] sergeyzwezdin commented on #25
@lewisveale Just use it as regular variable:

[code]

[2017-10-15 01:34] #25 closed

[2017-10-15 01:35] sergeyzwezdin commented on #24
@adailsonfilho Thank you for getting us know!

[2017-10-15 01:35] #24 closed

[2017-10-15 01:40] sergeyzwezdin commented on #20
@lboening Could you please explain a bit detailed this case:

It would be useful to have piece of you config file as well as your transformations.
If you have duplication of `MaxConcurrentAutoVueControls` key, it won't be correct behavior and should be treated as a bug.

[2017-10-15 01:41] sergeyzwezdin commented on #20
Also, as @markjose mentioned before, you can address specific key by `add[@key=...]` syntax.

[2017-10-15 01:42] sergeyzwezdin commented on #20
Another part of you request is deleting nodes. Because of this, I mark it as new feature request and will try to take a look what I can do here.

[2017-10-15 02:29] #27 closed

[2017-10-15 10:06] sergeyzwezdin commented on #26
@rspopovi Take a look on this test - https://github.com/sergeyzwezdin/magic-chunks/blob/master/src/MagicChunks.Tests/Documents/XmlDocumentTests.cs#L224-L253

I've added your config and it works ok.

I also noticed that in the sample your XML is malformed. It has unclosed `<application>` tag. The right XML is:

[code]

Closing this issue as it's unable to reproduce. You still having problems let me

[2017-10-15 10:06] #26 closed

[2017-10-15 10:23] sergeyzwezdin commented on #20
I've added syntax to remove nodes.
In upcoming 1.3.0 version it will be possible to do something like this:

[code]

Please note, that `#` at the start of transformation key means that node will be deleted.

[2017-10-15 10:23] #20 closed

[2017-10-15 10:26] #29 closed

[2017-10-16 16:10] swavans opened #30 "Question about XML rootpath"
Hi,
So I don't have much experience with this tool but maybe you could help me?

I think it has something todo with this part of the wiki but I do not quite get what you mean.

"Please note that you can have single root node for XML. So if the first element in transformation path does not match name of root element in source file you will get error:  "

What I have is a file called POM.XML (see Be

[2017-10-16 16:45] sergeyzwezdin commented on #30
@swavans you should point full path to your node. The first element in path should match root node name.
In your sample `project` is root node, so your path should start with it:

[code]

[2017-10-16 16:45] #30 closed

[2017-10-17 00:45] sergeyzwezdin commented on #21
Thank you for your feedback.
Fixed in upcoming `1.3.0` version.
Now you can do that this way: `info/param[1]/argument`.
Please note that index for XML-node is zero-based.

[2017-10-17 00:45] #21 closed

[2017-11-02 18:10] Noah-Silvera commented on #21
Thanks @sergeyzwezdin !

[2017-11-08 11:14] gep13 commented on #27
@Lakritzator you should be able to skip this verification check, using the information in the error message which is printed above.

[2017-11-08 11:15] gep13 commented on #27
@sergeyzwezdin thanks for getting this updated, looking forward to the next release.

[2017-11-08 13:29] karlatkinson opened #31 "Release to nuget"
#27 has been closed but the update has not yet been released to nuget.
Is anything blocking this? Had to pin quite a few packages to older versions to support this.

Thanks

[2017-11-08 15:09] pascalberger opened #32 "Preserve XML header"
If I have an existing XML document like this, and running some transformations the XML header in the first line will be removed.

[code]

Is there a way to have the XML header preserved?

[2017-11-08 15:10] pascalberger commented on #32
It seems like a `XmlDocument.ToString()` is called [here](https://github.com/sergeyzwezdin/magic-chunks/blob/master/src/MagicChunks/Documents/XmlDocument.cs#L209) which will remove existing XML header.

[2017-11-13 04:45] #32 closed

[2017-11-13 04:45] sergeyzwezdin commented on #32
Thank you for your contribution!

[2017-11-13 04:47] sergeyzwezdin commented on #31
There is no reason to open new issue just for a question. You can always ask at #27 for example :-)
Yes, there are number of issues with #17, which is planned for this release as well.
I'm working on it now, once it will be done, I'll publish it to nuget.

[2017-11-13 04:47] #31 closed

[2017-11-13 09:23] karlatkinson commented on #31
That's a good point! Thanks for the update.

[2017-11-14 11:20] iKaew opened #34 "Attribute name with colon can't be transform in XML file type"
When do transform with applicationsettings with the attribute key that contain colon, it will error.

Version: 1.2.0

Sample config
[code]

Sample transform config

[code]
Error :
[code]

[2017-11-16 14:17] wasabii commented on #34
I also noticed this. It actually works fine with two colons! There's something trying to parse it as a XML prefix I bet.

[2017-11-29 08:20] robertvanGilst opened #35 "How to select processing instructions?"
I have got a Wix Install file.
[code]

Where I would like to match the define with the ProductName and update the attribute value for that one. How should I select?
I tried with:

and

But both fail in the update process.

[2017-11-30 08:28] sergeyzwezdin commented on #35
@robertvanGilst Is this fragment valid XML document?

[2017-11-30 09:01] robertvanGilst commented on #35
Yes, processing instructions are part of the [XML Standard](https://www.w3.org/TR/xml/#sec-pi)

I maybe should have included:
`<?xml version="1.0" encoding="UTF-8"?>`

It contains only the tags I am interested to update, the rest of file I have left out.

[2017-11-30 16:07] sergeyzwezdin commented on #35
Indeed, ok. It is not supported for the moment.  I'll take a look

[2017-11-30 22:40] cal5fishbowl opened #36 "How do you remove an attribute from a node?"
I would like to transform this node <appSettings file="Web.Secrets.config"> to be <appSettings>. Do you support removing the attribute all together?

[2017-12-01 06:19] robertvanGilst commented on #35
Thank you.

[2017-12-07 15:00] aslabicki opened #37 "Problem with colon in key name"
I have problem with magic-chunks in cake build. When I try to replace value of this **configuration/appSettings/add[@key='ida:issuer']/@value**, then I get error
_("The ''' character, hexadecimal value 0x27, cannot be included in a name.")_, but this **configuration/appSettings/add[@key='issuer']/@value** works fine. It look colon makes difference in this case.

[2017-12-11 16:37] xaberx opened #38 "VisualStudio Extension Update"
Hi, I use magic chunks for our deploys and saw a post that you could delete nodes using the # symbol as of version 1.3.0 . The Visual Studio Extension is still running 1.2.0, when do you think you can push the latest version to the marketplace? I really like this tool and it helps make our agile process much more streamlined. src: https://github.com/sergeyzwezdin/magic-chunks/issues/20

[2017-12-12 19:26] RazorSPoint opened #39 "You have a possible copy cat"
Hi,

I just noticed that you have a copycat. He didn't even care to substantially add stuff to your code or adding anything. The help, screenshots and everything are the same.

Have a look here:
https://github.com/BTolliday/Transformer
https://marketplace.visualstudio.com/items?itemName=Dreamlax.Transformer

That's a real ripoff. He is not event mentioning you!

[2017-12-16 03:23] sergeyzwezdin commented on #38
Thank you for your kind of word. I will publish in near time.

[2017-12-16 03:23] #38 closed

[2017-12-16 03:24] sergeyzwezdin commented on #36
@cal5fishbowl Not yet. Which syntax would you like for selectors to do that?

[2017-12-16 03:57] sergeyzwezdin commented on #39
Thank you very much for the link.
I disappointed with his behavoir.

Posted [here](https://github.com/BTolliday/Transformer/issues/5) about it, hope @BTolliday will respect key OSS values and will remove his clone.

Let's see.

[2017-12-16 03:57] #39 closed

[2017-12-16 04:03] sergeyzwezdin commented on #37
Thank for your report. I'll take a look.

[2017-12-16 04:10] #34 closed

[2017-12-16 04:19] sergeyzwezdin commented on #34
Fixed by @iKaew. Thank you!

[2017-12-16 04:29] sergeyzwezdin commented on #37
The issue was fixed by @iKaew as part of #34

[2017-12-16 04:29] #37 closed

[2017-12-16 11:04] sergeyzwezdin commented on #35
Thank you for your report.
I just fixed the issue.
You can address elements by index:
[code]
Or by attribute name:
[code]

Will be released soon as part of 1.3.0.

[2017-12-16 11:04] #35 closed

[2017-12-16 11:06] sergeyzwezdin commented on #18
Magic Chunks migrated to .NET Standard for the moment.
Will be released as part of 1.3.0.

[2017-12-16 11:06] #18 closed

[2017-12-16 14:21] #17 closed

[2017-12-16 15:18] sergeyzwezdin commented on #37
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:18] sergeyzwezdin commented on #35
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:18] sergeyzwezdin commented on #34
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:19] sergeyzwezdin commented on #32
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:19] sergeyzwezdin commented on #29
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:20] sergeyzwezdin commented on #27
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:20] sergeyzwezdin commented on #26
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:20] sergeyzwezdin commented on #21
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:20] sergeyzwezdin commented on #38
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:20] sergeyzwezdin commented on #20
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:21] sergeyzwezdin commented on #18
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:21] sergeyzwezdin commented on #17
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:21] sergeyzwezdin commented on #31
Latest fixes were released to Nuget and VS Marketplace.

[2017-12-16 15:41] sergeyzwezdin opened #41 "Refactoring: Regex definitions"
Codebase has few places to define regex expressions. The idea is to put all of them into single separate file.

[2017-12-16 16:06] gep13 commented on #27
@sergeyzwezdin this is great news! This is my goto library for updating files nowadays 😄

[2017-12-16 16:17] sergeyzwezdin commented on #27
@gep13 👍

[2017-12-16 17:32] petr-stupka opened #42 "Could not load file or assembly 'System.IO.FileSystem'"
Hey Sergey,

looks like the new version doesn't work well.

- Agent is running on Windows Server 2016
- The Task was running well before today's update

Please let me know if you need more info.

2017-12-16T17:27:56.0021636Z ==============================================================================
2017-12-16T17:27:56.0021853Z Task         : Config transformation
2017-12-16T17:27:56.0022091Z D

[2017-12-16 18:30] schwaizi commented on #42
btw, VSTS tasks support versioning. I would recommend to use version 2.x.x in case of any major braking changes. So we can use the old version and then eventualy switch to new version if required.

[2017-12-17 08:43] sergeyzwezdin commented on #42
@schwaizi Could you share your transformations?
I tested it myself and it works ok. It seems something specific to your configuration.

[2017-12-17 08:57] sergeyzwezdin commented on #42
Also, do you have .net core installed on that machine?

[2017-12-17 09:10] miles1302 commented on #42
Dear Sergey,

we also have a similar issue but did not change anything in our configuration. We are still using V1 of magic chunks, which worked fine so far.
Here is the transform log (I took out some contextual info)
2017-12-17T08:44:12.4404349Z ##[section]Starting: Update environment variables in web.config of service layer
2017-12-17T08:44:12.4404349Z ===========================================

[2017-12-17 09:49] sergeyzwezdin commented on #42
Ok, I see the issue, Will fix that asap.

[2017-12-17 14:45] sergeyzwezdin commented on #42
@schwaizi @miles1302 There is strange problem with assembly built as .NET Standard. While I'm investigating it, I reverted it back at VSTS marketplace to restore your builds, guys.
I will let you know about the progress.

[2017-12-17 14:53] schwaizi commented on #42
Hi Sergey,
the new version seems to fix 'System.IO.FileSystem' error. But new error showed up.

2017-12-17T14:37:20.9115921Z ##[error]System.Management.Automation.MethodInvocationException: Exception calling "Transform" with "4" argument(s): "Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system

[2017-12-17 14:56] sergeyzwezdin commented on #42
@schwaizi Which version of extension do you see in console during the build?

[code]

[2017-12-17 15:02] sergeyzwezdin commented on #42
@schwaizi I can confirm that I'm able to run `1.3.10` both on hosted and on-premise agent. Could you check your agent version?

[2017-12-17 15:35] robertvanGilst commented on #35
Hi Sergey,

Thank you very much for the quick response and fix.

Med venlig hilsen

Robert van Gilst
Senior Business Solution Consultant

Powel Danmark A/S, Gråbrødregade 9, 1. sal, DK-6000 Kolding, DENMARK
Mobil: +45 61 20 42 34
Email: Robert.van.Gilst@powel.dk<mailto:Robert.van.Gilst@powel.dk>

[cid:image002.jpg@01D204F0.B2F6DA30]<http://www.powel.no/>[cid:image003.jpg@01D204F0.B2F6DA30]<https:/

[2017-12-17 15:50] schwaizi commented on #42
Hi Segey, i can confirm the 1.3.10 version now. This version works fine now. The last issue is linked to the new version with the bugfix (before you made rollback). As i said, i would prefer the next version will be 2.x.x so ot will not affect our system directly, but after version change of the task in our system.

[2017-12-17 15:59] sergeyzwezdin commented on #42
@schwaizi Ok, I just wanted to ensure it's working for you now. I'll keep investigating.
As for version - I'm not very happy with changing version to 2.x as it isn't very big release, but it seems there is no way to manage versions for VSTS extensions, so I'll change it to 2.x for sure.

[2017-12-17 16:10] schwaizi commented on #42
Many thanks Sergey, you doing great job!
I know tasks update in TFS must be manually triggered, but VSTS take the new version imidiately so that’s the issue if the main version of the task don’t change. May be something to address with MS :)
Hope it didn’t affected your weekend plans!

[2017-12-17 16:27] miles1302 commented on #42
Hello Sergey,
it's working for me also. Thank you for the quick fix

Regards

[2017-12-17 18:07] sergeyzwezdin commented on #42
Thank you for your kind of word. I'll continue investigation. Don't have solution yet.

[2017-12-18 18:34] cal5fishbowl commented on #36
I was thinking something like removing nodes. https://github.com/sergeyzwezdin/magic-chunks/issues/20

"configuration/appSettings/#file": ""

[2017-12-19 01:55] sergeyzwezdin commented on #36
[code]

Doesn't work for you?

[2017-12-19 02:03] cal5fishbowl commented on #36
Yes I’m good with that.

[2017-12-19 05:42] sergeyzwezdin commented on #36
It should already work. If not, let me know - I'll check.

[2017-12-19 07:01] cal5fishbowl commented on #36
I tried awhile back and couldn’t get it to work. I’m trying to do it on VSTS.

Callen

On Dec 18, 2017, at 10:42 PM, Sergey Zwezdin <notifications@github.com<mailto:notifications@github.com>> wrote:

It should already work. If not, let me know - I'll check.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/sergeyzwezdin/magic-c

[2017-12-19 17:13] rgiampietro opened #43 "No agent could be found with the following capabilities: DotNetFramework, Xamarin.iOS, sh"
![msbuild_error](https://user-images.githubusercontent.com/32174363/34169744-9cf846ce-e4a5-11e7-8720-e0d5d561e6ac.jpeg)
When I add a Task using the Config Transformation in MSBuild I get the following message when I try to Queue the build:

No agent could be found with the following capabilities: DotNetFramework, Xamarin.iOS, sh.

Is there some additional setup that needs to be done after installi

[2017-12-20 00:17] sergeyzwezdin commented on #36
Ok, I will check.

[2017-12-20 15:19] WebDucer opened #44 "error CS1922 with CAKE on macOS"
Hello.

With the current version 2.0.0.119 I get the error below when I run my CAKE build scripts on macOS. On Windows the same script works without errors.

[code]

It seems, the .Net Standard version of librarary is missing some dependencies.

Version 1.2.0.58 (with CAKE_SETTINGS_SKIP_VERIFICATION=true) in CAKE 0.23 works as expected.

[2017-12-21 04:40] sergeyzwezdin commented on #44
It seems related to #42
Investigation still in progress. I'll let you know.

[2017-12-21 04:41] sergeyzwezdin commented on #43
Which OS and build agent version do you use?

[2017-12-21 14:59] rgiampietro commented on #43
We're running TFS 2018 on premise.
- Two Mac mini's have a build agent with version 2.126.0 installed.
- Looks like the official build number of TFS is Version 16.122.27102.1

Thanks for the help and excellent extension !

[2017-12-21 15:15] jeremiah-huston commented on #42
I also appear to be having this problem using the 2.0.0 VSTS extension. I get two errors. Could I be doing something wrong?

[2017-12-23 00:06] hayhay27 opened #46 "Could not load dll (missing assembly)"
I'm stuck. Don't know how to get rid of this error:
[code]
This is output from example script

[2017-12-23 03:25] sergeyzwezdin commented on #43
It doesn't support Mac build agents yet. Will be introduced soon.
Use #7 to track progress.

[2017-12-23 03:25] #43 closed

[2017-12-23 03:29] sergeyzwezdin commented on #46
@hayhay27 Version `2.0.0` has some issues with deployment for  the moment. Please, use `1.3.3.104` for now. I'll fix it soon. More information at #42

[2017-12-23 03:29] #46 closed

[2017-12-23 03:30] sergeyzwezdin commented on #44
All news will be in #42 and #7
Closing it to tidy up issues list.

[2017-12-23 03:30] #44 closed

[2017-12-25 05:08] iKaew commented on #34
Hi @sergeyzwezdin,

I try the latest version of 1.* on my VSTS. I seem like the issue still there.
I got the extension version  1.3.10 not sure it's exactly the same with 1.3.1 that the code merged into.

Log below
[code]

Thanks

[2018-01-01 09:00] sergeyzwezdin commented on #34
@iKaew I had to rollback this updated because of #42 - once it will be resolved new version will be available under `2.x`.
Use #42 to watch the status of issue and this update.

[2018-01-01 09:02] sergeyzwezdin commented on #42
Hello everyone!

I ran into the strange issue. For some build agents (like my own and Hosted VS2017) it works fine, but for another is not (for example Hosted agent).
I'll continue my invetigation in this area. Asked about that here as well - https://github.com/adventworks/hosted-pool-images/issues/12

Any help/suggestions would be very welcome! :-)

[2018-01-05 23:09] husainaloos opened #47 "Replacing with string that contains quotation"
Suppose that I want to replace a string with a json object.

original file:
```<key>old_value</key>```

using this json:
```"key" : "$(my_value)"```

where my_value is a env variable. Suppose that my_value is a string that contains quotation mark, something like
```my_value = string"string"maybeJson```

When doing the replacement, the json replacement is no longer valid json. I tried escaping the

[2018-01-09 13:28] agc93 commented on #46
I'm seeing the same behaviour even when using `1.3.3.104`:

[code]

Given #42 is only talking about the 2.x versions, is this the same issue?

[2018-01-11 10:06] RowlandShaw commented on #42
I'm also seeing the reported issue with Version      : 2.0.3 with an on-premise build server - could this just be some pre-requisites missing in the package?

[2018-01-13 23:09] mit-jamie-clayton opened #48 "Nuget packages after 1.2.0 + fail to work with cake.build on VSTO"
I'm not sure if this is really a bug in the Magic-Chunks nuget package building process or how cakebuild.net uses nuget references in it's codebase. I'm posting to help others.

Using magic chunks within a cake.build script via the Microsoft VSTO online CI plugin causes the nuget package to fail with cake.build CI tool. https://cakebuild.net/ when the process tries to use the magic chunks nuget pa

[2018-01-14 13:43] schwaizi commented on #42
Hi, i just found the issue is related to  .NET Framework. I installed the latest one and now is working fine.
[](https://www.microsoft.com/net/download/windows)

[2018-01-15 00:34] sergeyzwezdin commented on #42
@schwaizi Yeah. I did the same with my local agent.
I see [this](https://github.com/Microsoft/vsts-image-generation/blob/master/images/win/Vs2017/Vs2017-Server2016-Readme.md) and [this](https://github.com/adventworks/hosted-pool-images/blob/2017.10.02/vs2015-on-windows-2012r2/image.md) - they has 4.7.1 and 4.6.2 versions installed. It should be enough - it least it works fine at local controller w

[2018-01-15 00:36] sergeyzwezdin commented on #48
@mit-jamie-clayton Hello. Thaks for posting. It's related #42. Please use this issue to watch the progress.

[2018-01-15 00:36] #48 closed

[2018-01-15 00:37] sergeyzwezdin commented on #46
@agc93 It's strange. `1.x` should work fine as it's completely old build.
Could you try to re-install the plugin into your VSTS/TFS instance?

[2018-01-15 00:37] sergeyzwezdin commented on #47
@husainaloos Thanks for posting. Possible bug. I'll take a look a bit later.

[2018-01-16 17:48] Hoyg opened #49 "Issues while using a hosted linux agent"
I get the below error while trying to use this task with the hosted linux agent -

**A supported task execution handler was not found. This error usually means the task does not carry an implementation that is compatible with your current operating system. Contact the task author for more details.**

When can this be addressed?

[2018-01-16 19:41] zhulingfang opened #50 "Inline JSON: how to pick up two attributes with same name?"
I am trying to use Inline JSON to modify web.config file. In this file, I have two hosts:
<hosts>
      <host hostname="http://localhost:2469">
        <resources>
          <......>
        </resources>
      </host>
      <host hostname="http://localhost:62991/">
        <resources>
          <......>
        </resources>
      </host>
</hosts>
I am not able to pick up those two hostname to edit

[2018-01-23 13:25] RazorSPoint commented on #39
No problem. But maybe you also want to report the duplicate in the VSTS marketplace. He seemed to have removed the repository, but not the extension.

[2018-01-25 11:54] Sigman32 commented on #50
If you could provide your inline trasformation JSON it would be easier to help you out.

But if your web.config is for exapmle:

[code]

To replace these two hosts with some other values you could use this Inline JSON transformation:

[code]

Which should transform your configuration to:

[code]

[2018-01-30 16:03] vdabnishka opened #51 "What is the syntax for adding an element?"
I have an xml config that contains several connection strings
[code]
During build I need to add a third connection string so that end up with
[code]
What would be the syntax for that?

[2018-01-30 17:44] Sigman32 commented on #51
[code]
You need two transformations because you have to set two attributes: `connectionString` and `providerName`.

[2018-01-30 20:13] #51 closed

[2018-02-14 10:12] AntoineG opened #52 "Delete node"
Hello,
I would like to know if there is an existing syntax to delete a node:
[code]

--> I'd like to delete `<node1>Value</node1>`

Thank you,
Antoine

[2018-02-14 11:09] AntoineG commented on #52
Found my answer:

In upcoming 1.3.0 version it will be possible to do something like this:
[code]

[2018-02-14 11:10] #52 closed

[2018-02-20 21:03] sevaa commented on #42
Getting the "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0" error here. Version 2.0.3, that's the latest in the Marketplace. Task version is 2.0.3 too.

On-premises TFS 2017 u2. Config Transform v1 runs normally.

[2018-02-22 13:06] petermorlion commented on #17
Could you update the docs to show how exactly we can transform elements in arrays?

[2018-02-25 20:29] torsten-github opened #53 "Do not stringify (double quote) non string values."
The transformation `{"name" : "some text", "age" : 12}`
results in `{"name" : "some text", "age" : "12"}`

See, that the age value 12 is now a string and not an integer anymore.

[2018-02-26 14:15] slx2005 opened #54 "Passing a URL as the key (JSON)"
Hi, in my replacement I need to pass a URL and a GUID, I am currently bound to the below spec of JSON, I cannot change the 'endpoints' to an array unfortunately, it has to remain an object, unfortunately aswell I need to pass the fully qualified domain, which forces me to pass in the "//" after the protocol.

i'm trying to add an endpoint to this key value pair object e.g.
[code]

to achieve this:

[2018-02-26 14:28] slx2005 commented on #54
looks like I was getting the on-prem issue too, i'll re-visit this afterwards.
` "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."

`

[2018-03-06 08:08] marteener opened #55 "Backslash transformed as double backslash"
Hello,
In one of my projects, there's need to transform connection string in JSON config. The problem is, that in the connection string there's a backslash, ("Data Source=server\instanceName;Initial Catalog=... ") and it's transformed as double backslash ("Data Source=server\\\instanceName;Initial Catalog=... "). Is there any way to solve/escape it?

[2018-03-07 12:33] #55 closed

[2018-03-09 15:57] erradimourad commented on #42
I had the same issue for my local build agent, and after updating my .Net Framework Version to 4.7, it start working fine.

[2018-03-09 17:05] sevaa commented on #42
Tried that, didn't work. Still can't found the same assembly.

[2018-03-17 10:07] y-vasilyev opened #56 "Support of arrays in json configuration"
I have a part of serilog config in json
`    "WriteTo": [
      {
        "Name": "LiterateConsole"
      },
      {
        "Name": "File",
        "Args": {
          "path": "C:\\Temp\\Logs\\log.txt",
          "rollingInterval": "Day"
        }
      }
    ],
`
Using the transform like this
`  { "Serilog/WriteTo[0]/Args/path",  "test"  }`

I got new node
`    "WriteTo[0]": {
      "Args": {

[2018-03-22 08:59] Gargony opened #57 "TransformationCollection load from file"
Make possibility to load trans collection from file.
Like:
Web.config.mc =>
`
// https://github.com/sergeyzwezdin/magic-chunks

"configuration/appSettings/add[@key='ApiAuthKey']/@value" = "#{ApiAuthKey}"
"configuration/appSettings/add[@key='ApiBaseAddress']/@value" = "#{ApiAddress}"
"configuration/connectionStrings/add[@name='default']/@connectionString" = "Data Source=#{Database.Host};Initial Cat

[2018-03-22 17:52] pascalberger opened #58 "Update Cake addin to Cake 0.26.0"
Cake 0.26.0 introduced breaking changes in the API. The Cake addin should be built against Cake 0.26.0 to be compatible with current version

[2018-03-25 17:16] JulioIzquierdo commented on #42
**Version**: 2.0.3
**Error**: Exception calling "Transform" with "4" argument(s): "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies
**.NET Framework**:  v4.6 that comes with the server
**Comments**: Works in one environment but not in another.  Pretty certain it has to do something with which framew

[2018-03-25 17:40] schwaizi commented on #42
@JulioIzquierdo can you try the .Net Framework 4.7 ? You can eventually try [](https://www.nuget.org/packages/System.IO.FileSystem/4.0.1)

[2018-03-25 17:55] JulioIzquierdo commented on #42
@schwaizi , I install the .NET Framework 4.7 and it worked!  Thank you for your help on this!

[2018-03-25 18:17] schwaizi commented on #42
@sevaa can you please post your VSTS configuration. You mentioned TFS 2017 is working fine. I'm trying to understand where is your problem as i think the issue has been solved by installing .net framework 4.7

@sergeyzwezdin i would suggest "Install Instruction" on wiki page. To add the  .net framework 4.7 as requirements for on-premise and in cloud availability on "Hosted 2017" only.

[2018-03-27 14:49] stewx opened #59 "Slashes in JSON property names cannot be escaped"
We need to transform a JSON file that looks like this:

[code]

I want to change "1.0.0" to something else, say, "2.0.0".

Doing the following:
`{ "dependencies/acme/mypackage": "2.0.0"}`

Produces the following output:
[code]

I would like to do the following:
`{ "dependencies/acme\/mypackage": "2.0.0"}`

But it produces:
[code]

[2018-03-29 06:37] klaas-speijer commented on #53
Hello,

Can someone fix this please ? :)

[2018-04-11 19:46] smansker commented on #56
I've been trying to work out the new Array support that was added to 2.0, and had some luck. Figured I'd share it.

First, I cloned the repository to my local machine to fiddle with things.

I tried using the Powershell stuff in the Samples\Powershell folder. However, the MagicChunks.dll file that is in there doesn't seem to support the Array stuff, so must be old.

Next, I went into the build dir

[2018-04-23 15:03] gep13 commented on #58
@sergeyzwezdin I just wanted to follow up with this issue.  Are you in a position to update the Cake Addin for MagicChunks?  It would be great to have this updated.  Thanks!

[2018-04-24 12:43] nukec commented on #43
@sergeyzwezdin great plugin. I have no issue on win machine, but if i want to build ios app same error appears.

[2018-04-24 12:44] nukec commented on #7
Hey @sergeyzwezdin any progress on this?

[2018-04-24 23:31] nukec opened #61 "Support for mac"
Is this project dead?
I would appreciate support for mac agent

[2018-04-25 09:20] GitWessel opened #62 "Visual studio team services: Errors."
I'm getting the following erros on my vsts release:
Can anyone tell me what I do wrong?

2018-04-25T09:14:23.5552784Z ##[error]System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
2018-04-25T09:14:23.5552784Z    at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
2018-04-25T09:14

[2018-04-27 18:46] lonesomegeek commented on #62
updating to net 4.7 does the trick

[2018-05-01 14:41] alextrukhan opened #63 "Add ability to add a new node or change type of a node."
Add ability to add or change node type:
For example: [see possible docker compose file](https://docs.docker.com/compose/compose-file/compose-file-v2/#depends_on) states for the same node depends_on. the depends_on can be an array or can be a root element for other nodes. Could I change a yml like this
[code]
to this
[code]
?

[2018-05-10 10:56] wallyhall commented on #62
I've tried updating to 4.7, it made no difference for me.

[2018-05-10 15:04] wallyhall commented on #42
FYI - we fought this issue today.  We had wrongly interpreted the instructions as meaning install .NET Framework 4.7 as a .MSI, rather than install .NET Framework 4.7 via the Visual Studio installer on the build agent.  The latter fixed the issue for us.

[2018-05-10 15:13] sevaa commented on #42
Would it be too much to expect the task to run on an unpatched Windows server? :) No one will let me run Visual Studio setup on live agent machines.

[2018-05-14 06:40] staff0rd commented on #42
I am getting this problem on one of two EC2 instances, both running Windows 2016.  Image is identical as far as I can tell, on the failing one I'm getting;

[code]

Both are however using the same version;
[code]

Will investigate further.

[2018-05-14 16:48] futuralogic commented on #58
Any ETA on this being addressed?

[2018-05-23 16:27] kieronlanning commented on #62
We can't update, we have this issue through the release pipeline, so the product is already built.

Oddly enough, it works deploying to our test environment, but fails on all the others - the point at which this runs is identical on each environment, and it's the first thing it does.

[2018-06-05 19:25] Jericho opened #64 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] You are currently referencing Cake.Core 0.23.0. Please upgrade to 0.28.0
- [ ] The Cake.Core reference should be private. Specifically, your addin's `.csproj` should have a line similar to this: `<PackageReference Include="Cake.C

[2018-06-06 06:31] pascalberger commented on #58
@sergeyzwezdin Would it be an option for you to split the core Magic Chunks and the Cake addin into separate repositories, with the Cake addin being part of the [Cake-Contrib](https://github.com/cake-contrib) organization and more people having write access, so that the community can help to keep the Cake addin up to date?

[2018-06-06 14:06] mbcooper commented on #53
+1
I tried to use the tool fro transforming ARM templates for Azure.
Arguments in ARMs are strongly typed -- so any transforms fail the template -- i.e. sort of useless for areas that require non-strings ....

how about an arg in the "xpath" that types it with string as the default?

"path1/path2@int": 1200

[2018-06-08 19:21] adamvandenhovenfm opened #66 "Getting exception but I can't understand what is causing it."
So if there is an exception in the transform json, we get an exception (in VSTS at least) that looks like:

[code]

Its almost completely useless as a log message because I have no idea which of the 20+ items in the transform is causing trouble.

[2018-06-09 01:35] JenasysDesign commented on #64
I've created an initial code change https://github.com/sergeyzwezdin/magic-chunks/pull/65 to migrate from 0.23.0 to 0.26.1 which should reduce cake.build errors (they then become warnings) when people use the latest editions of cake.

[2018-06-09 01:37] JenasysDesign commented on #58
I've updated the VSTS _build.ps1 code to fix the automated build for the https://github.com/sergeyzwezdin/magic-chunks/pull/65 to help improve compatibility with the newer editions of Cake.build.

[2018-06-12 22:44] mkokabi commented on #42
I am getting the same error:
`##[error]System.Management.Automation.MethodInvocationException: Exception calling "Transform" with "4" argument(s): "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified." ---> System.IO.FileNotFoundException: Could not load file

[2018-06-13 13:54] 24mu13 commented on #47
In the example above, the following transformations do not work:
{ "key" : "value with \""}
{ "key" : "value with """}

When instead, the usual transformation works out-of-the-box:
{ "key" : "value without quotes"}

[2018-06-13 14:15] 24mu13 commented on #47
Found the workaround:
[code]

[2018-06-20 14:40] emtea commented on #56
Thank you @smansker , this worked for me with the following transformation after refreshing the MagicChunks.dll in Samples\Powershell folder (Release 2.0):
`{ "array[0]/path" = "test"; }
`

Although I couldn't make it work when my json config file is an array so I wanted to use the following transformation:
`{ "[0]/path" = "test"; }`
on a json file with the following structure:
`[ { "path": "to be

[2018-06-21 20:33] husainaloos opened #67 "Array Support with JSONs"
Does this tasks support replacing an item in a JSON array in configuration?

Suppose I have this json:

[code]

and I want to transform it to

[code]

what would be the path to do that?

[2018-06-21 23:02] Sigman32 commented on #59
this issue is similar to #54

[2018-06-26 16:12] Stu1986c commented on #66
I have a similar error using the most recent version of Magic Chunks (Version: 2.0.3):

``##[error]System.Management.Automation.MethodInvocationException: Exception calling "Transform" with "4" argument(s): "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2018-06-28 00:28] fraserjordan opened #68 "Array support with YAML files"
Is there currently anyway to do this?

[2018-06-28 05:36] z0nekill commented on #49
+1 on this - tried running the extension today in our VSO CD pipeline on Hosted Linux Agent and got the exact same error.

What are the system requirements for this product?

[2018-07-03 13:25] akgulebubekir opened #69 "Cake.Core version 0.26.0 compliance issue"
**Here is the error message:**

[code]

[2018-07-09 22:08] JenasysDesign commented on #69
https://github.com/sergeyzwezdin/magic-chunks/pull/65 includes a fix to this issue. Just waiting on @sergeyzwezdin to review that PR.

[2018-07-10 18:32] BorisGaliev opened #70 "Support for XDT-based transformations needed"
In order to reuse already existing XML-transformation files and for backward compatibility it would be nice to have possibility to perform XML-transformation in "old-fashioned" way via xml transform

[2018-07-10 18:39] BorisGaliev opened #71 ".NET 4.5/4.6.1 Version of the magic-chunks"
The reason for "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies" exception is that magic-chunks is probably built with .NET Core/.NET 4.7. Some enterprises don't allow to install .NET Core on their TFS servers so it  would help a lot if .NET 4.5 based version would be available.

[2018-07-15 21:45] sunilshahi commented on #69
Any update on this? We have been waiting on this.

[2018-07-16 14:21] GeertvanHorrik opened #72 "Preserve empty lines"
We have formatted our project files with new lines. However, it looks like empty lines are being removed after calling MagicChunks.

[code]

This code removes all empty lines (which we would like to keep).

[2018-07-16 14:22] GeertvanHorrik commented on #72
btw using 2.0.0.119

[2018-07-23 21:12] YannickRondeau commented on #66
I had the same error while trying to update the XML values of my `Web.Config` file. After some research and looking into the source code, I finally got it working.

The issue is that to allow the XML element replacement, Magic Chunks needs to look into the three of the XML. Therefore, it needs to know the complete path, you need to provide it using `/` as follow:
[code]
Source: https://github.com/

[2018-07-24 14:25] ghelyar opened #74 "Config Transformation not available from VSTS Release Definition"
I have installed the Magic Chunks extension into VSTS and can see Config Transformation when editing a Build Definition, but can't see it when editing a Release Definition, which is when I actually want to be setting the configuration so that it can be different for different releases.

Is this possible, or does it have to be done with PowerShell for a release definition?

[2018-07-26 06:17] leechdraw commented on #67
@Sigman32 , hi!
Is there any way to do this:
1. We have json with next structure:
[code]
2. We need to add one more item to array:
[code]

[2018-07-30 14:56] littlefyr commented on #66
My issue is _not_ that it choking on my configuration. Its that the log message does not provide any context for determining which part is creating trouble. If I have 20 substitutions, then its going to take a lot of trial and error to figure out _which_ of the 20 are causing the issue.

[2018-07-30 15:44] purduebretty opened #75 "Variable substitution now working when replace kvp in xml"
When using VSTS on a hosted vs 2017 agent, the variable will not replace values successfully when referencing attribute names.

**Replaces Variable Successfully:**
"Parent/Child": "$(VariableName)

**Does not replace variable:**
"Parent/Child/add[@key='keyName']/@value": "$(VariableName)"

[2018-08-07 17:15] LarsKemmann commented on #42
You need the actual .NET 4.7.x SDK, not just the Runtime.
For automation, you can use [`choco install netfx-4.7.2-devpack`](https://chocolatey.org/packages/netfx-4.7.2-devpack) -- just tried this and it worked for me. :-)

[2018-08-07 17:39] gpin1120 commented on #67
@Sigman32 Thanks for sharing! I have some questions regarding this,

I have a simple array like this in my configs

"my_array": [
        "value1",
        "value2"
      ],
In the transform task I added this
"my_array[0]" : "value1"
"my_array[1]" : "value2"

The end result is a new entry at the end of the config exactly like the following, seems like the task isn't evaluating it as an array but r

[2018-08-15 23:33] eavonius commented on #67
This doesn't seem to work. I'm trying to replace the following at the bottom of this JSON:

[code]

I use this path:

Serilog/WriteTo[2]/args/instrumentationKey

But it just creates a new "WriteTo[2]" section below Serilog - it doesn't replace the existing second item (the one for Azure App Services).

[2018-08-23 10:43] janisBerz commented on #42
I'm also getting an error on VSTS:
`
##[error]System.Management.Automation.MethodInvocationException: Exception calling "Transform" with "4" argument(s): "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified." ---> System.IO.FileNotFoundException: Could not loa

[2018-08-23 11:08] janisBerz commented on #42
I can confirm after installing .Net Framework 4.7.2 DevPack the Extension worked as expected.

`choco install netfx-4.7.2-devpack`

[2018-08-23 15:56] jcaruso001 opened #76 "Inline JSON vs File JSON & Variables"
The inline JSON allows you to use variables in your transformation, however there's a character limitation. When I switched over to a file my variables no longer worked. I'd like to continue using variables to save my username and passwords and not hard code them into a file. Can we get the files to allow variables as well?

[2018-08-23 15:56] #76 closed

[2018-08-23 15:58] jcaruso001 commented on #19
Any update on this @sergeyzwezdin

[2018-08-30 15:46] PremRaju commented on #15
I am getting this error for  xml tranformation.
--------------------------------------------------------
ConvertFrom-StringData : Data line '{' is not in 'name=value' format.
At C:\Users\prebm\Desktop\Scripts\Appsettingautomation\AppsettingsConfigTransformations.ps1:22 char:17
+ $xformsAsHash = ConvertFrom-StringData -StringData $xformsAsStr
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-09-12 06:08] PremRaju opened #77 "XMl transformation using input file"
Format-MagicChunks : File transformation error: Exception calling "Transform" with "4" argument(s): "The '[' character, hexadecimal value 0x5B, cannot be included in a name."
At C:\Users\prebm\Desktop\Scripts\Appsettingautomation\AppsettingsConfigTransformations.ps1:25 char:1
+ Format-MagicChunks -path $destinationPath -transformations $xformsAsH ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-09-12 06:10] PremRaju commented on #77
(Continued)

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings key="'ElasticSearchUsername'/@value&quot; = &quot;INDIA&quot;">
    <add key="ElasticSearchUsername" value="INDIA" />
    <add key="ElasticLogTimeDelay" value="india1" />
    <add key="DefaultTradeDataIndex" value="o_businessservicesauditlogs" />
  </appSettings>
</configuration>

[2018-09-13 15:02] sunilbindra opened #78 "Transforming directory pathh adds extra slashes "\\""
I am suing Magic chunks. In my master json file I have one key with value

 "ExternalFiles": {
    "EncryptionKeyFile": "C:\\TotalKeys\\key.config.json"
  }
In my transformation file transforming it to I have this

"ExternalFiles/EncryptionKeyFile": "C:\\TotalKeys\\keytest.config.json"

When it transform result is having some extra slashes, dont know why:-

"ExternalFiles": {
    "EncryptionKeyFil

[2018-09-25 04:28] cpriem commented on #69
Hey,

My team is receiving this error as well, is there an update to when a fix will be released?

Thanks!

[2018-09-26 03:42] jstrubeATlicensysDOTcom commented on #69
I'm getting a slightly different error this when running cake:

dotnet : Error: The assembly 'MagicChunks.Cake, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'
Publish.ps1:5 char:1
+ dotnet cake build.cake
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Error: The asse...KeyToken=null' :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

How c

[2018-11-22 10:31] axi82 commented on #75
Did you ever resolve this? I'm having the same issue.

[2018-12-01 01:02] garrix opened #79 "case sensitivity gives misleading results"
a transform file with:
"configuration/connectionStrings/add[@name=MyCONNECTIONName]/@connectionString": ""

run over an xml config with with:
<connectionStrings>
    <add name="MyConnectionName" connectionString="someConnection">

logs:
Transformation found: configuration/connectionStrings/add[@name=MyCONNECTIONName]/@connectionString: myToken

the end result, however, is a config with
<connection

[2018-12-06 20:42] ttaylor29 commented on #15
How would I add in the provider name to this?

[2018-12-06 22:16] ttaylor29 opened #80 "I need to add providerName into my magic chunks app.config and appsetting.json"
I am using Magic Chunks to do my transforms for app.config and appsettings.json

This is a WPF application where I am trying to set a Release pipeline in Azure Dev Ops.

I have everything working, but I need to inject the: providerName="System.Data.SqlClient" for my app.config.

I do not think I need this for my appsettings.json file.

Can you show me how to do this?

Here are my setups now:

[cod

[2018-12-10 10:31] Sigman32 commented on #80
Same like you did for connection string, using Connection Name `MyConnection` for pivoting:

[code]

[2018-12-10 13:35] ttaylor29 commented on #80
YES! That did it, Sigman32!

Thank you. I was trying to put it all in one line and didn't realize I could do it that way.

[2018-12-10 13:35] #80 closed

[2018-12-14 11:51] Dushelov commented on #47
+1. Same situation. I got $x = '<bla"blabla"bla>'
{
   "parameter" : "$(x)"
}
and got the same error.
@sergeyzwezdin Any option to escape quotes in json transformation?

[2018-12-19 00:22] DarrinRobertson opened #81 "Adding multiple, Array of elements to XML node"
I have an xml node and I want to add multiple elements to it
<parentNode>
   <add value="1" />
   <add value="2" />
</parentNode>

Is this supported?
I tried using "parentNode/add[0]/@value" : "1"
But this errored
Using
"parentNode/add/@value" : "1" works but if I add another the last one overwrites the previous one.

[2018-12-24 09:50] DarrinRobertson commented on #81
<parentNode>
   <add value="123" />
   <add value="456" />
</parentNode>

To get the above xml I also tried
"parentNode/add[]`1/@value":"123",
"parentNode/add[]`2/@value":"456"

But that threw an XML exception that '[' was not allowed in the name.
Is there a way to add multiple nodes?

[2018-12-24 09:52] DarrinRobertson commented on #81
`<parentNode>
    <add value="123" />
   <add value="456" />
</parentNode>`

[2018-12-24 10:02] DarrinRobertson commented on #50
How would you add those two entries? I tried unsuccessfully with

`{
"configuration/hosts/host[]`0/@hostname":"http://first.hostname.local/",
"configuration/hosts/host[]`1/@hostname":"http://second.hostname.local/"
}`

[2018-12-24 11:14] DarrinRobertson commented on #81
`"parentNode/add[1]/@value":"123", "parentNode/add[2]/@value":"456"`

This worked

[2018-12-24 11:14] #81 closed

[2018-12-24 11:16] DarrinRobertson commented on #50
Actually, I was wrong, that did work.

[2018-12-29 12:28] stephaneey opened #82 "JSON transformation repeating transformed value"
When using the following transformation pattern:
{
  "resources/sku/capacity": "1"
}
the original transformation of this:
"sku": {
        "name": "[parameters('skuName')]",
        "capacity": "[parameters('skuCapacity')]"
      },
into this:
"sku": {
        "name": "[parameters('skuName')]",
        "capacity": "1"
      },

is working file but this block:
"sku": {
        "name": "[parameters(

[2018-12-29 13:11] stephaneey commented on #82
Never mind, my bad, I misunderstood the transformation, sorry for the spam :)

[2018-12-29 13:11] #82 closed

[2019-01-03 12:36] PingPongSet opened #83 "Could not load file or assembly 'System.IO.FileSystem' with 2.*"
I have got the issue below when I try to deploy an ASP.NET Core API app using Config Transform task for Azure DevOps . https://marketplace.visualstudio.com/items?itemName=sergeyzwezdin.magic-chunks

Versions:

2.* exception:
1.*: works without exception

Error below:

2019-01-03T11:34:17.4824394Z ##[section]Starting: Config transform
2019-01-03T11:34:17.4826937Z ===================================

[2019-01-16 13:21] dazinator commented on #83
Same problem.

Here is my step:

![image](https://user-images.githubusercontent.com/3176632/51251315-edf8c780-1990-11e9-80d6-b72f167fbc75.png)

Here is the log:

2019-01-16T13:05:52.9728157Z ==============================================================================
2019-01-16T13:05:52.9728208Z Task         : Config transformation
2019-01-16T13:05:52.9728256Z Description  : Transform config fil

[2019-01-21 10:40] sourcejon commented on #78
bump

[2019-01-25 17:20] MisinformedDNA commented on #74
I'm using it in my Release Definition. Maybe it was fixed?

[2019-01-27 06:25] qz2rg4 opened #84 "Azure Devops web.config transform question"
Good Day,

I am a bit at a loss here.

I have added Magic Chunks task to my build pipeline trying to change the web.config smtp settings with the following output:

2019-01-27T06:05:18.5470361Z ==============================================================================
2019-01-27T06:05:18.5470419Z Task         : Config transformation
2019-01-27T06:05:18.5470455Z Description  : Transform config

[2019-01-27 06:34] qz2rg4 commented on #84
To answer my own question I moved the Config Transform to before build and this solved the problem

[2019-01-27 06:34] #84 closed

[2019-02-06 08:46] jskumar commented on #83
@sergeyzwezdin,
Tools is extremely useful, where used in many agents. Thanks

But suddenly after installed dotnet 2.2; below problem still persists. Help to resolve this would be highly appreciated.

Let know any additional details required.

============================
2019-02-06T07:59:41.8047786Z ##[error]System.Management.Automation.MethodInvocationException: Exception calling "Transform" with

[2019-02-25 11:30] developer9969 opened #86 "Print trasformed json file"
Hi I am new to this so I might be wrong .

How do I print the file after trasformation of my json file. I want to make sure the file actually changed as intended.
thanks

[2019-03-07 20:05] tarun04 commented on #36
`<system.webServer><httpProtocol><customHeaders>
 </customHeaders></httpProtocol></system.webServer>`

I'm trying to delete the complete httpProtocol using:

`#configuration/system.webServer/httpProtocol/customHeaders`

'#'  isn't working on it.
How do I get it to work. ?

[2019-03-26 16:36] SirBisgaard commented on #83
I have had this problem as well, with one of our older agents.
I fixed it by installing .NET 4.7.2. Make sure your .NET version is higher or equal to 461814.

The agent is running on Windows server 2012R2, and we are using TFS 2018 on prem.

[2019-04-27 17:31] amccool commented on #11
I didnt see this in the wiki... any chance to make it stand out?

[2019-05-03 07:05] pZq opened #87 "adding new array nodes [ {}, {}, ... ] in json ?"
"EndPoints": [
            {
                "ServerTypes": [ "All" ],
                "ChannelName": "channel-1",
                "SynchronousCallTimeout": 30000
            }
        ]

I would need the node above to be created but it seems its not possible to create this.
Only way to achieve this is to change the original json to be like
 "EndPoints": [
            { }
        ]

Then transform

[2019-05-14 21:23] Alin-Dumitrescu opened #88 "Help: How to replace a specific node in an JSON array"
Hello,

Assuming the following JSON file:

_{ "books" : [
 {
    "id" : "1",
    "price" : "1"
 },
 {
   "id : "2",
   "price" :"2"
 }
]
}_

how do you replace the price of the book with the id of 2? I have tried:
_{
       "/books[id='2']/price" : "4"
}_

and it doesn't seem to work. What is does is adding a node
"book[id='2']" : {  "4" }

[2019-06-13 07:31] mageshiam opened #90 "How can we remove the node from config file?"
I want to remove the `<defaultProxy>` node from my config file. Kindly assist on this.

[code]

[2019-08-01 17:54] halehouse opened #91 "Azure Devops(VSTS) - deprecated task execution handler"
I'm seeing the following warning each time I use this extension.:

##[warning]Task 'MagicChunks' (2.0.3) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib

Will this extension be updated in the near future?

[2019-08-01 19:48] ifle commented on #91
We also seeing this warning.

[2019-09-05 17:59] sevaa opened #92 "No way to get a double-XML-encoded value in an XML config"
I need the following value in an XML attribute in a config: "&amp;gt;". That's what the app expects.

The XML encoding rules of Magic Chunks don't allow for that, it seems. If I specify "&gt;" for the value in the transform JSON, I get exactly that line in the target file. If I specify "&amp;gt;", I get "&amp;amp;gt;".

[2019-09-05 21:59] thomgre opened #93 "Boolean values in JSON get improperly "stringified""
I've noticed that specifying an unquoted boolean value for a JSON file will result in an incorrect value. For example:

Target file:
[code]

Magic-chunks transformation (expected result):
[code]

Actual:
[code]

[2019-09-12 10:17] crow-ua opened #94 "Deleting array element"
I have an array in json:
`"elements": [
    "1",
    "2",
    "3",
    "4"
  ]`
I want to delete the last one:
`"elements/#[3]": ""`
i get an error:
[code]
I've also tried `"#elements/[3]": ""`, fails too.

[2019-10-02 15:17] AmirHosseinSaadatmand opened #95 "Cannot access release variable in json file"
Hi
when I use transformation type with json file and use release variable in file variable value does not use from Magic Chunk. but in inline json everything is OK.

[2019-11-27 09:04] dhabierre opened #97 "Azure DevOps: MagicChunks (2.0.3) is using deprecated task execution handler"
When using the Azure DevOps Magic-Chunks extension:

[code]

Thanks!

[2019-12-16 13:05] michha commented on #97
duplicate of #91

[2020-01-30 06:57] petriichuk commented on #54
Any solution for that issue?

[2020-02-05 13:17] kanslooz commented on #93
I'm dealing with that same problem.

[2020-04-23 14:09] gmarbury commented on #91
Is Magic Chunks still active? This error has been there a while now

[2020-05-22 04:04] gmarbury commented on #91
##[warning]Task 'MagicChunks' (2.0.3) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib

[2020-06-02 07:00] bondort commented on #20
Hey @sergeyzwezdin how do I add the "clear" tag mentioned by you above?
I tried adding `"configuration/connectionStrings/clear": ""` but it created a `<clear></clear>` tag which is incorrect.
Thanks

[2020-07-15 14:39] Allsetra-RB commented on #49
+1, would like this very much. I'm deploying multiple microservices to an Azure cluster environment, and need to configure the applications properly before deploying. The whole cluster is Linux, so I have to run the pipeline in Linux, but this step doesn't work on Linux.

[2020-09-16 08:06] LievenBaert opened #99 "Support for transformation of yaml lists"
In the YmlDocument, only node values of type Dictionary<object, object> are searched and replaced while types List<object> should also be supported in order to support list transfortmations...

**Source:**
NodeOption:
    - Option1
    - Option2
NodeOption2:
    - NodeOption3: "Option3"
    - NodeOption4: Option4

**Transforms:**
NodeOption:
    - Option Added
NodeOption2:
    - NodeOption3: "Opti

[2020-11-01 20:29] xtratio commented on #67
Workaround.

.NET Configuration supports different syntax.
see: [Configuration in ASP.NET Core](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1)

For example, you can define multiple WriteTo sections with index:
[code]

and use path: Serilog/WriteTo:1/Args/path

[2020-11-11 17:18] #42 closed

[2020-11-21 01:29] #58 closed

[2020-11-25 16:03] pascalberger opened #101 "Use .NET Tool or Frosting for build"
We should update build to use .NET Tool (if script is prefered) or Frosting (if a VS project is prefered)

[2020-11-25 16:04] pascalberger opened #102 "Move AppVeyor configuration into repository"
AppVeyor configuration is currently done on AppVeyor. If we move it into an `.appveyor.yml` file it gives more flexibility to make changes to the build proces.

[2020-11-25 17:03] sergeyzwezdin commented on #102
I think it would be better to migrate to github actions instead.

[2020-11-25 17:58] pascalberger commented on #69
https://github.com/sergeyzwezdin/magic-chunks/pull/65 has been merged. Next version of Magic Chunks will work with current version of Cake.

[2020-11-25 17:58] #69 closed

[2020-11-25 18:01] pascalberger opened #103 "Use embedded license for NuGet package"
We should update to use `license` tag in NuGet package:

[code]

[2020-11-25 18:02] pascalberger opened #104 "Use embedded icon in NuGet package"
We should use an embedded icon in the NuGet package instead of the deprecated `iconUrl` tag

[2020-11-25 18:03] pascalberger opened #105 "Add repository info to NuGet package"
We should add repository meta data to NuGet package:

[code]

[2020-11-25 18:07] pascalberger opened #106 "Add documentation XML to NuGet package"
We should add documentation XML to NuGet package so that XML comments are shown on Cake website (e.g. https://cakebuild.net/extensions/magicchunks/).

[2020-11-25 20:33] pascalberger opened #108 "Update to Visual Studio 2019"
Code is currently built with Visual Studio 2017, we should update to Visual Studio 2019

[2020-11-25 20:51] pascalberger opened #109 "Use GitVersion"
Currently version handling is done manually in CI pipeline / build script. An easier approach would be to use something like GitVersion.

[2020-11-29 16:18] sergeyzwezdin opened #113 "Migrate the repo to separate Github organization"
- [x] Migrate the repo to the organization
- [x] Fix appveyor builds
- [ ] Update nuget references

[2020-11-29 16:19] sergeyzwezdin opened #114 "Migrate CI to Github Actions"

[2020-11-30 07:43] pascalberger opened #115 "Update naming from VSTS to Azure DevOps"
We should update naming from VSTS to Azure DevOps

[2021-01-11 20:45] #102 closed

[2021-01-11 20:46] pascalberger commented on #108
Fixed with https://github.com/magic-chunks/magic-chunks-dotnetcore/pull/116

[2021-01-11 20:46] #108 closed

[2021-01-11 20:56] pascalberger opened #118 "Replace nuspec with csproj"
We currently use nusepc files for packaging NuGet packages. We should switch to `dotnet pack` with metadata in csproj files

[2021-01-11 20:57] #113 closed

[2021-01-11 21:05] #103 closed

[2021-01-11 21:13] #105 closed

[2021-01-11 21:51] #104 closed

[2021-01-18 19:59] gep13 opened #123 "Enable deterministic builds"
https://github.com/clairernovotny/DeterministicBuilds

[2021-01-18 20:09] gep13 opened #124 "Think about switching to use Cake.Recipe"
Using extension points to include other parts of the build which are typically not included in Cake.Recipe.

[2021-01-18 20:57] eoehen opened #125 "Update Cake.Core nuget to 0.38.5"
Update the Cake.Core package reference to 0.38.5.
https://www.nuget.org/packages/Cake.Core/0.38.5

[2021-01-18 21:07] pascalberger opened #127 "Decide how to distribute targets file in NuGet"
`MagicChunks.targets` file is currently in `lib` folder. We should consider if this makes sense and what the best way is to distribute the `targets` file.

[2021-01-18 21:21] augustoproiete opened #128 "Resolve NU5128 warning during build"
![image](https://user-images.githubusercontent.com/177608/104963691-7449a900-59b1-11eb-9264-0d087d0c5bb5.png)

[2021-01-18 21:24] nils-a commented on #127
I would suggest moving the `MagicChunks.targets` into a dedicated package `MagicChunks.MSBuild.nupkg` and place it into the `build/<net-version>` folder there. That way, for current msbuild based projects, referencing the `MagicChunks.MSBuild.nupkg` will automatically import the `MagicChunks.targets` into the build.

Reference: [docs.microsoft.com](https://docs.microsoft.com/en-us/nuget/create-pac

[2021-01-18 21:35] #106 closed

[2021-01-18 21:44] #128 closed

[2021-02-17 10:30] Lekiniu commented on #67
I need to add new array element in appsetting, but this does not work

[2021-02-17 10:33] Lekiniu opened #131 "add or replace element in array of appsetting. azure devops"
I am trying to add or replace element in array of appsettings , in azure devops release pipeline. I can't find instruction how to do it via magic chunks config transformation.But I know that it is possible after 2.0 version.
How to  add or replace element in array  for the following code :
{
    "my_array" : [
        {"value" : 1},
        {"value" : 5}
    ]
}

[2021-03-17 18:22] NekidMugh commented on #131
You should be able to use "my_array/@Value" = x.

[2021-03-17 18:24] NekidMugh commented on #94
Were you ever able to figure this out?  I am encountering the same thing where I need to be able to change/delete a value in an single value array like yours.

[2021-04-28 09:10] elicul commented on #91
Any news if this will be updated? Are you guys still using this extension? @ifle @halehouse @gmarbury

[2021-04-29 18:09] MisinformedDNA commented on #91
I'm still using it. Aside from the warning, I haven't had any problems with it.

[2021-04-29 19:01] halehouse commented on #91
Same here.  I'm running several of these tasks daily in multiple
environments including production.  All are working perfectly with the
exception of the warnings as Dan pointed out.

I'm making plans to move to some other solution but have not decided on
what to use just yet.

On Thu, Apr 29, 2021 at 1:10 PM Dan Friedman ***@***.***>
wrote:

--
Joshua Hale

[2021-06-07 09:27] Lasoty commented on #49
+1
I've the same problem. I prefer using linux agents.

[2021-06-21 16:57] Akinnagbe commented on #131
I tried to replace something like this
"IDPClientSettings/Scopes":["openid","profile","offline_access","api"],
it returned this

Transformation found: IDPClientSettings/Scopes: openid profile offline_access api

How can I fix that?

Thanks

[2021-06-30 14:28] NekidMugh commented on #131
This tool from my experience isn't great at changing arrays.  Had similar issues and had to get creative with the solution.  If you are trying to replace those settings for each environment, my suggestion is to have a Powershell script to blank out each option in the array.

((Get-Content -path "_{FILE PATH}_" -Raw) -replace '"openid",','') | Set-Content -Path "_{FILE PATH}_"
((Get-Content -path "

[2021-07-07 17:01] bh3605 commented on #93
This issue needs more attention.

[2021-10-04 11:23] nils-a commented on #78
@sourcejon, @sunilbindra I wanted to have a look at this, but could not reproduce it.
Would one of you be in a position to provide a minimal example that reproduces the error?

[2021-10-04 12:01] nils-a commented on #78
Found it. This happens, when using the DevOps Task and "correctly" escaping `\` in json of the transformation.

I.e. when the task is defined like:
[code]
(notice the double `\\` in the transformations) - the error occurs.

However, if the transformation-json is defined ("wrongly") as

[code]

(notice the single `\` in the transformations) - the error does not occur.

This behavior is the same, re

[2022-01-24 21:27] cjbush commented on #91
I opened a PR that I believe fixes this. #134

[2022-04-12 14:57] XVCoder commented on #49
+1
same problem

[2022-04-26 06:21] XVCoder opened #135 "How to keep the original value type after field is replaced in JSON file?（Boolean）"
#### Here goes the example:

Target JSON
[code]

Transformation for the config:
[code]

Expected transformation result:
[code]

Actually transformation result:
[code]

The result is: the boolean value [false] has been replaced with ["True"].
How to keep the original value type after field is replaced in JSON file?

[2022-04-26 06:31] XVCoder commented on #93
Same problem. 😭

[2022-04-26 09:20] thomgre commented on #93
I'd suggest to use the [ReplaceTokens](https://github.com/colindembovsky/cols-agent-tasks/tree/main/Tasks/ReplaceTokens) task from colindembovsky instead.

[2022-05-29 11:39] Hussein-Dahir opened #136 "[Blocking Issue]: Transformations JSON text area is limited to 2500 characters only"
Hi,

I am using Magic Chunks in Azure Devops to update appsettings.json config for my ASP.NET Core project.
I tried to paste a JSON text of size > 2500 character but got the following message:

![image](https://user-images.githubusercontent.com/26072899/170865772-e6de54de-6264-4b4a-9047-82bda48b00bc.png)

Can you please increase the max length of this text area!

I tried to split my transformation

[2022-08-25 08:39] chivandikwa commented on #7
This project has the suffix dotnetcore, a bit ironing then that this feature is open to have cross platform support

[2022-11-04 17:51] #59 closed